<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nurse</key>
	<array>
		<string>Nurse</string>
		<array>
			<string>NM/NC</string>
			<string>RN</string>
			<string>EN</string>
			<string>PCA</string>
			<string>Nur Student</string>
		</array>
	</array>
	<key>ENDO</key>
	<array>
		<string>Endocrinology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>ENT</key>
	<array>
		<string>ENT</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>ER</key>
	<array>
		<string>Emergency</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>EYE</key>
	<array>
		<string>Eye</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>GASTRO</key>
	<array>
		<string>Gastroenterology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>GERI</key>
	<array>
		<string>Geriatic</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>HCA</key>
	<array>
		<string>Health Care Attendant</string>
		<array>
			<string>Unknown</string>
		</array>
	</array>
	<key>Housekeeper</key>
	<array>
		<string>Housekeeper</string>
		<array>
			<string>Unknown</string>
		</array>
	</array>
	<key>ID</key>
	<array>
		<string>Infectious Disease</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>MED</key>
	<array>
		<string>Medicine</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>MED Student</key>
	<array>
		<string>Medical Student</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>NES</key>
	<array>
		<string>Neuro Surgery</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>NEURO</key>
	<array>
		<string>Neurology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>OT</key>
	<array>
		<string>Occupational Therapist</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>OTO</key>
	<array>
		<string>Orthopaedic</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Student</string>
		</array>
	</array>
	<key>Other AHP</key>
	<array>
		<string>Other AHP</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>PT</key>
	<array>
		<string>Physiotherapist</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Student</string>
		</array>
	</array>
	<key>Phlebo</key>
	<array>
		<string>Phlebotomist</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Student</string>
		</array>
	</array>
	<key>Porter</key>
	<array>
		<string>Porter</string>
		<array>
			<string>Unknown</string>
		</array>
	</array>
	<key>RAD</key>
	<array>
		<string>Radiology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>REHAB</key>
	<array>
		<string>Rehabilitation</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>RENAL</key>
	<array>
		<string>Renal</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>RESPI</key>
	<array>
		<string>Respiratory</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>RT</key>
	<array>
		<string>Respiratory Therapist</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Student</string>
		</array>
	</array>
	<key>Radiographer</key>
	<array>
		<string>Radiographer</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>ST</key>
	<array>
		<string>Speech Therapist</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>SUR</key>
	<array>
		<string>Surgical</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>UNKNOWN</key>
	<array>
		<string>Unknown Dept</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>URO</key>
	<array>
		<string>Urology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>ANA</key>
	<array>
		<string>Anaesthesia</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>CVM</key>
	<array>
		<string>Cardiology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>DENTAL</key>
	<array>
		<string>Dental</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
	<key>DERM</key>
	<array>
		<string>Dermatology</string>
		<array>
			<string>Senior</string>
			<string>Junior</string>
			<string>Unknown</string>
		</array>
	</array>
</dict>
</plist>
